<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Info Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar
    [(ngModel)]="searchTerm"
    (ionChange)="searchChanged($event)"
  ></ion-searchbar>

  <ion-item>
    <ion-label>Select Searchtype</ion-label>
    <ion-select [(ngModel)]="type" (ionChange)="searchChanged($event)">
      <ion-select-option value="">All</ion-select-option>
      <ion-select-option value="movie">Movie</ion-select-option>
      <ion-select-option value="series">Series</ion-select-option>
      <ion-select-option value="episode">Episode</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    @for (item of (results | async); track item) {
      <ion-item
        button
        [routerLink]="['/', 'info', item.imdbID]"
        >
        <ion-avatar slot="start">
          @if (item.Poster != 'N/A') {
            <img [src]="item.Poster" alt="{{ item.Title }}" />
          }
        </ion-avatar>
        <ion-label text-wrap>
          <h3>{{ item.Title }}</h3>
          {{ item.Year }}
        </ion-label>
        @if (item.Type == 'movie') {
          <ion-icon
            slot="end"
            name="videocam-outline"
          ></ion-icon>
        }
        @if (item.Type == 'series') {
          <ion-icon slot="end" name="tv-outline"></ion-icon>
        }
        @if (item.Type == 'game') {
          <ion-icon
            slot="end"
            name="logo-game-controller-outline"
          ></ion-icon>
        }
      </ion-item>
    }
  </ion-list>
</ion-content>
